{% extends 'base.html.twig' %}

{% block title %}cryto TRaker
{% endblock %}

{% block body %}


	<div class="container d-flex justify-content-center mt-5 ">
		<div class="card Regular shadow" style="min-width: 360px;">
			<div class="d-flex justify-content-between px-3 align-items-center border-bottom">
				<span>
					<h1 class="d-flex logo">Cryto Traker</h1>
				</span>
				<div class="d-flex justify-content-center align-items-center">
					<div class="pr-2 text-right">
						<span class="pen">
							<a class="text-white" href="{{ path('app_portefeuille_index') }}">
								<i class="fa-solid fa-pen"></i>
							</a>
						</span>
						<span class="add">
							<a class="text-white" href="{{ path('app_token_index') }}">
								<i class="fa-solid fa-plus"></i>
							</a>
						</span>
					</div>
					<div></div>
				</div>
			</div>
			<div class="scroll">
				<div class="d-flex justify-content-center py-2">
					<div class="debit pt-3 pb-1">
						<div class="d-flex justify-content-between align-items-center px-3">
							<span class="black"></span>
							<div class="mt-4">

								{{ form_start(form) }}
								{{ form_widget(form) }}

								<div class="col-md-12 mt-5 text-center">
									<button class="btn btn-secondary px-5" type="submit">{{ button_label|default('Ajouter') }}</button>
								</div>

								{{ form_end(form) }}

							</div>
						</div>
					</div>
				</div>
				<div class=" border-top">
					<div class="d-flex justify-content-center">
						{{ include( 'home/_menu.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
