{% extends 'base.html.twig' %}

{% block title %}Portefeuille
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center mt-5 ">
		<div class="card Regular shadow" style="min-width: 360px;">
			<div class="d-flex justify-content-between px-3 align-items-center border-bottom">
				<span>
					<h1 class="d-flex logo">Cryto Traker</h1>
				</span>
				<div class="d-flex justify-content-center align-items-center">
					<div class="text-right">
						<span class="pen">
							<a class="text-white" href="{{ path('app_portefeuille_index') }}">
								<i class="fa-solid fa-pen"></i>
							</a>
						</span>
						<span class="add">
							<a class="text-white" href="{{ path('app_token_index') }}">
								<i class="fa-solid fa-plus"></i>
							</a>
						</span>
					</div>
					<div></div>
				</div>
			</div>
			<div class="stat mb-4">
				<div class="px-1 header-image mb-3">
					<div class="px-2">
						<div class="py-3">
							<div class="d-flex flex-column justify-content-center py-4">
								<h1>Portefeuille</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-5">
					<table class="table text-white">
						<tbody>
							<tr>
								<th>Cryptomonnaie</th>
								<td>{{ portefeuille.name }}</td>
							</tr>
							<tr>
								<th>Valeur du token</th>
								<td>{{ portefeuille.price }}</td>
							</tr>
							<tr>
								<th>Quantité</th>
								<td>{{ portefeuille.quantity }}
									euros</td>
							</tr>
						</tbody>
					</table>

					<a href="{{ path('app_portefeuille_index') }}">Retour a la liste</a>

					<a href="{{ path('app_portefeuille_edit', {'id': portefeuille.id}) }}">Transfert</a>

					{{ include('portefeuille/_delete_form.html.twig') }}
				</div>
				<div class="m-3 d-flex flex-column justify-content-center mt-2 mb-2"></div>
			</div>
			<div class=" border-top">
				<div class="d-flex justify-content-center">
					{{ include( 'home/_menu.html.twig') }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
